---
---

@import "{{ site.theme }}";

a.btn.btn-github {
  display: none !important;
}
.social-footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.9rem;
}

.social-footer a {
  color: #39ff14;
}
